/* HEADER */
header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header .btn-hamburguer {
  display: none;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

header nav ul li a {
  color: var(--gray-100);
  font-size: 1.6rem;
  letter-spacing: -0.48px;
  transition: opacity .3s ease;
}

header nav ul li a:hover {
  opacity: 0.7;
}

/* SECTION HERO */
.s-hero {
  position: relative;
  width: 100%;
  padding-top: 11.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.s-hero::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 22.0rem;
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--pink-10);
}

.s-hero .text {
  position: relative;
  width: 100%;
  max-width: 71.9rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.s-hero .text h1 {
  position: relative;
  font-weight: 600;
  letter-spacing: -1.68px;
}

.s-hero .text h1::before {
  content: '';
  max-width: 59.9rem;
  height: 2.2rem;
  background: url("../imgs/line-title.svg") no-repeat center center;
  position: absolute;
  bottom: -0.5rem;
  left: 3.9rem;
  z-index: -1;
}

.s-hero .text p {
  max-width: 55.6rem;
  margin: 0 auto;
  letter-spacing: -0.54px;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: var(--gray-300);
}

.s-hero .text .arrow {
  position: absolute;
  bottom: 1.7rem;
  left: 5.5rem;
  animation: floating 3s ease-in-out infinite;

}

@keyframes floating {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
  }
}

.s-hero .ilustra {
  padding: 0 1.5rem;
}

.s-hero .ilustra {
  display: block;
}

.s-hero .ilustra-mobile {
  display: none;
}

/* SECTION DIGITAL */
.s-digital {
  padding-top: 12.8rem;
}

.s-digital h3 {
  max-width: 53.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.s-digital ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-800);
  padding-bottom: 12.8rem;
}

/* SECTION ART FRONT */
.s-art-front {
  padding: 12.8rem;
}

.s-art-front .title-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.s-art-front .title-text .left {
  max-width: 53.9rem;
}

.s-art-front .title-text .left h3 {
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1.2px;
}

.s-art-front .title-text .left p {
  max-width: 45.2rem;
  color: var(--gray-600);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.54px;
  margin-top: 1.6rem;
}

.s-art-front .title-text .right {
  max-width: 42.9rem;
}

.s-art-front .title-text .right p {
  color: var(--gray-600);
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: -0.54px;
}

.s-art-front .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.s-art-front .all .card-post:first-child {
  grid-column: span 2;
}

/* SECTION NEWSLETTER */
.s-newsletter {
  padding: 8.9rem 0;
  background-color: var(--pink-10);
}

.s-newsletter .container {
  text-align: center;
}

.s-newsletter h2 {
  max-width: 64.6rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  font-weight: 600;
  letter-spacing: -1.44px;
}

.s-newsletter p {
  max-width: 68.7rem;
  margin: 0 auto;
  margin-bottom: 2.4rem;
}

/* FOOTER */
footer {
  padding: 4.8rem 0;
}

footer .main-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-bottom: 6.6rem;
  margin-bottom: 2.4rem;
}

footer .main-area .left {
  max-width: 27.9rem;
}

footer .main-area .left p {
  margin-top: 2.4rem;
  color: var(--gray-600);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: -0.48px;
}

footer .main-area .right {
  flex-grow: 1;
  max-width: 79.2rem;
  display: flex;
  justify-content: space-between;
}

footer .main-area .right .item-nav h6 {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.48px;
  margin-bottom: 3.2rem;
}

footer .main-area .right .item-nav ul li:not(:last-child) {
  margin-bottom: 3.2rem;
}

footer .main-area .right .item-nav ul li a {
  color: var(--gray-600);
  font-size: 1.6rem;
  letter-spacing: -0.48px;
  transition: color .3s ease;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

footer .main-area .right .item-nav ul li a:hover {
  color: var(--gray-100);
}

footer .copy {
  color: var(--gray-600);
  letter-spacing: -0.48px;
}

footer .copy strong {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .s-digital {
    padding-top: 6.8rem;
  }

  .s-digital ul {
    gap: 4rem;
    padding-bottom: 6.8rem;
  }

  .item-digital .info h6 {
    font-size: 2rem;
  }

  .item-digital .info p {
    font-size: 1.6rem;
  }

  .s-art-front {
    padding: 6rem 0;
  }

  .s-art-front .all {
    gap: 1.6rem;
  }

  .s-art-front .all .card-post:first-child,
  .s-art-front .all .card-post:nth-child(2) {
    grid-column: span 3;
  }

  footer .main-area .right {
    max-width: 66.2rem;
  }
}

@media (max-width: 991px) {
  .s-hero::after {
    height: 15rem;
  }

  .s-digital ul {
    flex-direction: column;
    align-items: center;
  }

  .s-art-front .title-text {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  .s-art-front .title-text .left {
    text-align: center;
    max-width: 100%;
  }

  .s-art-front .title-text .left p {
    max-width: 100%;
    margin-top: 0.8rem;
  }

  .s-art-front .title-text .right {
    max-width: 100%;
    text-align: center;
  }

  .s-art-front .all {
    grid-template-columns: 1fr;
  }

  .s-art-front .all .card-post:first-child,
  .s-art-front .all .card-post:nth-child(2) {
    grid-column: initial;
  }

  footer .main-area {
    flex-direction: column;
    gap: 4rem;
  }

  footer .main-area .left {
    max-width: 100%;
    text-align: center;
  }

  footer .main-area .left img {
    margin: 0 auto;
  }

  footer .main-area .right {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  header .btn-hamburguer {
    display: block;
  }

  .s-hero {
    padding-top: 6rem;
  }

  .s-hero .text h1 {
    max-width: 49rem;
    margin: 0 auto;
  }

  .s-hero .text h1::before {
    left: 0;
    bottom: -4px;
    background-size: 100%;
  }

  .s-hero .text p {
    max-width: 41.6rem;
  }

  .s-hero .text .arrow {
    bottom: 3.7rem;
    left: 2rem;
    max-width: 8rem;
  }
}

@media (max-width: 560px) {
  header {
    height: 7.2rem;
  }

  header .logo {
    max-width: 16rem;
  }

  .s-hero {
    padding-top: 8.8rem;
  }

  .s-hero .text h1 {
    font-size: 4rem;
  }

  .s-hero .text h1::before {
    bottom: -6px;
  }

  .s-hero .text p {
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
  }

  .s-hero .text .arrow {
    display: none;
  }

  .s-hero .ilustra {
    display: none;
  }

  .s-hero .ilustra-mobile {
    display: block;
    width: 100%;
  }

  .s-hero::after {
    height: 22rem;
  }

  .s-digital {
    padding-top: 8rem;
  }

  .s-digital ul {
    padding-bottom: 8rem;
    gap: 6.4rem;
  }

  .s-digital h3 {
    font-size: 2.8rem;
  }

  .s-art-front {
    padding: 8rem 0;
  }

  .s-art-front .title-text h3 {
    font-size: 2.8rem;
    max-width: 22.7rem;
    margin: 0 auto;
  }

  .s-art-front .title-text .left p {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .s-art-front .title-text p {
    font-size: 1.6rem;
  }

  .s-newsletter h2 {
    font-size: 4rem;
  }

  footer .main-area .right {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  footer .main-area .right .item-nav h6 {
    text-align: center;
  }

  footer .main-area .right .item-nav ul li a {
    justify-content: center;
  }

  footer .main-area .right .item-nav:last-child {
    width: 100%;
  }

  footer .main-area .right .item-nav:last-child ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  footer .main-area .right .item-nav:last-child ul li:not(:last-child) {
    margin-bottom: 0;
  }

  footer .main-area {
    padding-bottom: 4.8rem;
  }

  footer .copy {
    text-align: center;
    font-size: 1.4rem;
  }
}